DB_USER=postgres
DB_PASSWORD=root
DB_HOST=localhost
DB_PORT=5432
DB_NAME=volei
S3_BUCKET=vsportmanager-fotos-prod-963678349462
S3_REGION=us-east-1
SECRET_KEY=YJ3dypauZ83X.JkY%p
SMTP_USER=ing.octavio.cuevas@gmail.com
SMTP_PASSWORD=iatt dbsr ukpc crfn
SMTP_FROM=ing.octavio.cuevas@gmail.com
AWS_ACCESS_KEY_ID=AKIA6AX5UVCLIKJR7CQF
AWS_SECRET_ACCESS_KEY=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
AWS_DEFAULT_REGION=us-east-1
